@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}

/* Banner Section */
.banner-container{ 
    width: 85%;
    height: 550px;
    margin:100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texts{
    width: 50%;
    height: 400px;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 30px;
}
.desktop-banner-des{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 30px;
    display: block;
}
.mobile-banner-des{
    display: none;
}
.span{
    color: rgb(251, 147, 74);
}
.btn-primary{
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(252, 113, 61);
    border: none;
    border-radius: 16px;
    padding: 20px 30px;
    cursor: pointer;
}
.image{
    width: 50%;
    height:450px;
}
    .image img{
        width:450px;
        height: 450px;
    }
    /* About Me Section */
    .section-container{
    margin-bottom: 120px; 
    width: 100%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/shapes/7.png');
    background-size: cover;
    }
    .image-container{
        width: 50%;
       text-align: center;
    }
    .image-container img{
        width:400px;
        height: 500px;
        padding-top: 50px;
    }
    .text-container{
        width: 50%;
    }
    .title{
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 30px;
        color: rgba(112, 112, 112, 1);
    }
    .desktop-description{
        line-height: 28px;
        margin-bottom: 70px;
        color: rgba(24, 25, 31, 1);
        display: block;
    }
    .mobile-description{
        display: none;
    }
    /* My Recipes Section */
    .recipe-container{
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
 }
 .recipe-container p{
    color: rgba(37, 37, 37, 1);
    font-size: 18px;
    line-height: 28px;
 }
 .image-and-text{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
 }
 .recipe{
   box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.15);
   padding: 30px;
   border-radius: 16px;
 }
 .image-1{
    width: 300px;
    height: 250px;
    border-radius: 16px;
 }
 .recipe-title{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
 }
 /* Subscribers Section */
 .subscribers{
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.15);
    padding: 60px 30px;
    border-radius: 16px;
 }
 .subscriber-container .number{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
 }
 .subscriber-container .text{
     font-size: 14px;
 }
 /* footer section */
 footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top:30px;
    padding-bottom: 100px;
 }
 footer h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
 }
 .span1{
    color: rgb(251, 140, 70);
 }
 .span2{
    color: rgba(91, 91, 91, 1);
 }
 footer p{
    color: gray;
 }